#countLabel {
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: monospace;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 1em 2em;
    font-size: 1.5em;
    background-color: hsl(192, 96%, 29%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color: 0.25s;
}

.buttons:hover {
    background-color: hsl(192, 100%, 48%);
}